

/*begin body formatting*/

.gridWrapper {
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  /*overflow: auto;*/
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gridWrapper .box{
  width: 300px;
  height: 300px;
}

.gridWrapper img{
  width: 300px;
  height: 250px;
  padding: 10px 10px 0px 10px;
}

.gridWrapper figcaption {
  text-align: center;
}

/*.gridWrapper .box .text{
  display: none;
}*/


/*.gridWrapper */.box .text{  /*this positions hidden text*/
  /*width: 100% !important;*/
  /*transform: translate(0%, -100%);*/
  align-items: center;
  opacity: 0;
  overflow-y: none;
  top: 0;
}


/*
.gridWrapper figure{
	break-inside: avoid;
}

.gridWrapper img {
	width: 100% !important;
	height: auto !important;
	align-items: center;
}

.gridWrapper figcaption{
	text-align: center;
	font-size: 15px;
} 

@media (max-width: 1000px) {
  .gridWrapper {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .gridWrapper {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
*/
/*@media (max-width: 600px) { two columns may be enough, resolution isnt too great at 1
  .gridWrapper {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}*/


/*.gridWrapper  .text{ /* this positions hidden text
	width: 100% !important;
    transform: translate(0%, -100%);
	align-items: center;
	opacity: 0;
	overflow-y: hidden;
}

.box:hover{
	transition: .2s ease;
	background-color: #008CBA;
}


.box:hover .text{ /*styles text in boxes

	background-color: #F3EED9;
	opacity: 1;
	transition: .2s ease;
	/*width: 20%;
	height: 100%;
	font-size: 15px;
	overflow-y: scroll;
}*/




/*.gallery-item-1{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
 	grid-row-end: 2;
}

.gallery-item-2{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 1;
 	grid-row-end: 2;
}

.gallery-item-3{
	grid-column-start: 3;
  	grid-column-end: 4;
  	grid-row-start: 1;
 	grid-row-end: 2;
}

.gallery-item-4{
	grid-column-start: 4;
  	grid-column-end: 5;
  	grid-row-start: 1;
 	grid-row-end: 2;
}

.gallery-item-5{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 2;
 	grid-row-end: 3;
}

.gallery-item-6{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
 	grid-row-end: 3;
}

.gallery-item-7{
	grid-column-start: 3;
  	grid-column-end: 4;
  	grid-row-start: 2;
 	grid-row-end: 3;
}

.gallery-item-8{
	grid-column-start: 4;
  	grid-column-end: 5;
  	grid-row-start: 2;
 	grid-row-end: 3;
}

.gallery-item-9{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 3;
 	grid-row-end: 4;
}

.gallery-item-10{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 3;
 	grid-row-end: 4;
}

.gallery-item-11{
	grid-column-start: 3;
  	grid-column-end: 4;
  	grid-row-start: 3;
 	grid-row-end: 4;
}

.gallery-item-12{ 
	grid-column-start: 4;
  	grid-column-end: 5;
  	grid-row-start: 3;
 	grid-row-end: 4;
}*/
/*
.gridWrapper:after{
	  content: "";
  display: table;
  clear: both;
}
*/
