

/*begin body formatting*/
.bodyy{
	grid-column: 1 /4 ;
	display: inline-grid;
}
.sideNav {
	display: grid;
  position: sticky;
  background-color: #384955;
  overflow-x: hidden;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%

}
.sideNav ul{
	top: 0;
	left: 0;
	list-style: none;
	margin: 0px;
	padding: 5px 5px;
	height: 300px;
	position:sticky;
}

.sideNav ul li {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sideNav  ul li a{
	text-decoration: none;
	font-size: 20px;
	color: #F3EED9;
	
		/*text-align:center;*/
}

.sideNav a:hover {
  color: #ED1B30; /*red hover font color*/
}

.editText {
	color: #384955;
	padding: 10px 10px;
	display: grid;
	grid-column-start: 2;
	grid-column-end: 4;
	height: 100%
}

@media screen and (max-width: 800px) {
  /*.sideNav ul {position: sticky;
  	top: 0;}*/
  .editText ol{font-size: .8em;}
  .editText h1{font-size: 1.5em;}
  .sideNav a {font-size: .8em;}
  footer p{font-size:.8em;}
}

/*@media (min-height: 300px) {
  .sideNav ul {
    position: sticky;
    top: 0;
  }
}*/

/*end paragraph*/