.content h1{
	text-align:center;

}

.container{

	white-space: pre-line;
	color: #384955;
	margin-top: 0;
	margin-bottom: 10%;
	font-size: 17px;
	overflow: hidden;
}

.content img{
	float: left;
	margin: 10px 10px;
	
}




